<form id="input" method="post" action="/index">	
	  			<p>
					Ticker symbol: <input type="text" name="ticker">
	  			</p>
	  			<p>
					<input type="checkbox" name="features" value="Close" >Closing price<br>
					<input type="checkbox" name="features" value="Adj. Close">Adjusted closing price<br>
					<input type="checkbox" name="features" value="Open">Opening price<br>
					<input type="checkbox" name="features" value="Adj. Open">Adjusted opening price<br>
	    			<input type="submit" value="Submit">
	  			</p>
				</form>


				          form(method="get", action="/search", id="search")
            .col-md-10
              input.form-control(id="search_text", name="search_text", placeholder="Search by City/State or Zipcode" style="font-size: 120%;")
            .col-md-2
              input.form-control(class="btn" type="submit" value="Search" style="font-size: 120%; background-color: #4285f4; color: whit
